body {
	background-color: white;
}

p {	color: black;
	font-family: "Times New Roman";
}

h1 {
	font-family: arial,helvetica;
	font-size: 36pt;
	color: black;
	text-align:center;
}
h2, h3, h4, h5, h6 {
	font-family: arial,helvetica;
	font-size: 12pt;
	color: black;
	text-align:center;
}

iframe#ifrm {
	background:none transparent;
	border:0px solid #ccc;
	frameborder:0px;
	width:460px; height:750px;
}

.leftbar {
	float: left;
	width: 600px;
	border: 0px solid black;
}

.centerbar {
	float: center;
	border: 0px solid black;
}

.rightbar {
	float: right;
	width: 600px;
	border: 0px solid black;
}

.footer {
	clear:both;
	border: 0px solid black;
}

table.mytable {
	border-collapse: collapse;
	border: 1px solid #666666;
	font: normal 11px verdana, arial, helvetica, sans-serif;
	color: #363636;
	background: #f6f6f6;
	text-align:left;
}
.mytable caption {
	text-align: center;
	font: bold 16px arial, helvetica, sans-serif;
	background: transparent;
	padding:6px 4px 8px 0px;
	color: #CC00FF;
	text-transform: uppercase;
}
.mytable thead, tfoot {
	background: url(bg1.png) repeat-x;
	text-align: left;
	height: 30px;
}
.mytable thead th, tfoot th {
	padding: 5px;
}
.mytable table a {
	color: #333333;
	text-decoration: none;
}
.mytable table a:hover {
	text-decoration: underline;
}
.mytable tr.odd {
	background: #f1f1f1;
}
.mytable tbody th, tbody td {
	padding: 5px;
}

.vmenu ul,li {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-decoration: none;
}
.vmenu a:link,a:visited {
	display: block;
	font-weight: bold;
	color: #ff0000;
	background-color: #000000;
	width: 120px;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}
.vmenu a:hover,a:active {
	background-color: #000000;
}
